node_modules
.next
dist
build
coverage
*.tsbuildinfo
next-env.d.ts
.env
.env.*
!.env.example
*.log
.DS_Store
Thumbs.db
.turbo
.vercel
playwright-report
test-results
blob-report
apps/web/public/cms-media
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
